body, html, div, p {
	margin:0;
	padding:0;
}
body {
  background-color:#ccc;
	font-size:100%;
	line-height:20px;
	color: #333;
	font-family: sans-serif;
}
h1 {
	margin: 0.25em 0 0.5em -0.045em;
	/* padding: 0 15px 0 15px; */
	font-size: 4em;
	line-height: 1em;
	font-family: 'helvetica-neue', sans-serif;
	font-weight: bold;
	letter-spacing: -0.05em;
	color: #fff;
}

/* for the sake of speed of writing the CSS is only targeted to run this experiment on my Mac, feel free to adjust clearfixing to run elsewhere */
.wrapper {
  width: 6000px;
  padding: 0 40px 0 40px
}
.row {
  clear: both;
  overflow: hidden;
}
.column {
  float: left;
  overflow: hidden;
}
.cpl-row {
  background-color: rgba(255, 255, 255, 0.6);
}
.test-item {
  padding-left: 10px;
  padding-right: 10px;
}
.numbers {
  width: 3em;
  /* font-family: monospace; */
  font-size: 12px;
}

p.sample {
  background-color: rgba(255, 255, 255, 0.8);
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.s12 {font-size: 12px;}
.s13 {font-size: 13px;}
.s14 {font-size: 14px;}
.s16 {font-size: 16px;}
.s18 {font-size: 18px;}